.container-article {
  display: flex;
  margin: 83px 28px 0px 104px;
}
.col-article {
  flex-basis: 50%;
  margin: 0px 10px 0px -25px;
}
article {
  margin: 22px;
  border: solid 1px #55865f;
}
.article-texte {
  border: solid 2px #55865f;
}
.article-home {
  background-color: white;
  margin-top: 0;
}
.img-article {
  height: 700px;
  width: 250%;
}
h2 {
  font-size: 45px;
  margin: 13px 0 13px 20px;
  color: #734f6f;
}
hr {
  color: #55865f;
  border: solid 3px;
  margin-bottom: 6px;
}
h3 {
  color: #734f6f;
  font-size: 20px;
  margin: 13px 0 0 20px;
}
.article-date {
  margin: 0 0 0 20;
  font-style: italic;
}
.article-more {
  color: #55865f;
  font-size: 20px;
}
.more-info {
  text-decoration: none;
  margin: 42px 80px -20px 80px;
  display: flex;
  flex-direction: row-reverse;
}
.more-button {
  color: #55865f;
  font-size: 35px;
  position: relative;
  left: 92%;
  bottom: 12px;
}
.btn-detail {
  font-size: 31px;
  display: flex;
  padding: 125px 0px 125px 170px;
  background-color: #55865f;
  text-decoration: none;
  margin: 25px 22px 0px 20px;
}
.booking {
  background-color: #734f6f;
  font-size: 31px;
  display: flex;
  text-decoration: none;
  margin: 31px 90px 90px 95px;
  padding: 31px 560px 28px 620px;
}
