.logo-eikonica {
  margin: 36px 0 29px 34px;
}
.menu {
  position: fixed;
  top: 20px;
  left: 90%;
  cursor: pointer;
}

.menu-icon {
  font-size: 45px;
  color: white;
}

.menu-items {
  display: none;
  position: absolute;
  top: 70px;
  left: -110px;
  width: 300px;
  height: 750%;
  background-color: black;
}

.menu-items a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 30px;
  margin: 17px 80px 10px 80px;
  text-align: center;
  position: relative;
  bottom: 400px;
}

.menu-present {
  font-size: 20px;
  margin-top: 61px;
  text-align: center;
  position: relative;
  bottom: 400px;
}
