.title-sponsor {
  color: white;
  margin: 0 0 18px 95px;
}
.img-sponsor {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.logo-sponsor {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0 0px 10px 10px;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  bottom: 150px;
}
