* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: black;
  color: white;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
  font-family: "Share Tech Mono", monospace;
}

a {
  color: inherit;
}

.fa-brands {
  color: #ffffff;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
