* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: black;
  color: white;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

.fa-brands {
  color: #ffffff;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
<<<<<<< HEAD
video {
  width: 100%;
  height: auto;
  padding: 200px 200px 200px 200px;
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
=======

/* ====================================
// base rules
// ==================================== */
>>>>>>> parent of a09ffe7 (quelque finesse)
